@charset "UTF-8";
/*
   Global
========================================================================== */

/* Main structure */

body,
html {
  height: 100%;
}

body,
td,
th,
p {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

body {
  position: relative;
  margin: 0;
  background-color: #f3f3f3;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Layout */

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

#maincontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100%;
  background-color: #f3f3f3;
}

nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align: center;
}

nav h1 {
  margin: auto;
  padding: 0.5em;
  font-size: 1.6em;
}

nav h1 a {
  color: #fff;
  font-size: 1em;
  font-weight: 200;
  letter-spacing: 7px;
  text-transform: uppercase;
}

#breadcrumb {
  margin: 0;
  padding: 10px 40px 16px;
  list-style: none;
  background-color: #eee;
}

#breadcrumb li {
  display: inline;
  font-size: 1.4em;
}

#breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

#breadcrumb li a {
  color: #aa2e00;
  text-decoration: none;
}

#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

#footer {
  position: relative;
  z-index: 1;
  width: 100%;
  bottom: 0;
  padding: 25px 0;
  background-color: #444;
  color: #fff;
  font-size: 8pt;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}

#footer a {
  color: #e5c0b2;
}

/* Map */

.inside #map-container,
#map-container {
  width: 100%;
}

#map {
  z-index: 1;
  height: 300px;
  margin-top: 80px;
  background-color: #ccc;
}

.inside #map {
  margin-top: 130px;
  background-color: #ccc;
}

.leaflet-control-attribution {
  display: none;
}

.leaflet-control-zoom-out {
  display: block;
}

/* Links */

a {
  color: #aa2e00;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #01447e;
  text-decoration: none;
  outline: 1px solid #01447e;
}

li>a:hover img {
  opacity: .4;
}

li>a:focus img {
  opacity: .4;
  outline: 2px solid #01447e;
}

/*
  Pages
========================================================================== */

/* Main page */

#content {
  width: 100%;
}

/* Filters */

.filter-options {
  display: block;
  width: 100%;
  height: auto;
  padding: 10px 0;
  background-color: #252831;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.filter-options h2 {
  position: relative;
  margin: 0 36px;
  color: #fff;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.filter-options select {
  width: 200px;
  height: 35px;
  margin: 10px 20px 10px 36px;
  padding: 0 10px;
  border: 1px solid #fff;
  background-color: #fff;
  font-family: Arial, sans-serif;
  font-size: 11pt;
  letter-spacing: 0;
}

/* Restaurant Listing */

#restaurants-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  padding: 30px 20px 60px;
  background-color: #f3f3f3;
  list-style: outside none none;
}

#restaurants-list li {
  min-height: 380px;
  width: 270px;
  margin: 15px 10px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.12);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  font-family: Arial, sans-serif;
  text-align: left;
}

#restaurants-list li .restaurant-img {
  display: block;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
  margin: 0;
  background-color: #ccc;
}

#restaurants-list li h2 {
  margin: 20px 0 10px;
  padding: 0 20px;
  color: #aa2e00;
  font-family: Arial, sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  text-transform: uppercase;
}

#restaurants-list li a:not(.link--restaurants) {
  display: inline-block;
  margin: 15px 20px;
  padding: 8px 30px 10px;
  border: 1px solid #aa2e00;
  background-color: #aa2e00;
  color: #fff;
  font-size: 10pt;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

#restaurants-list li a:not(.link--restaurants):hover {
  border: 1px solid #01447e;
  background-color: #fff;
  color: #01447e;
}

#restaurants-list p {
  margin: 0;
  padding: 0 20px;
  font-size: 11pt;
}

#restaurants-list p:first-of-type {
  font-weight: 600;
}

/* Single restaurant page */

/*  Restaurant Container */

#restaurant-container {
  width: calc(80% - 20px);
  margin: 0 auto 0;
}

#restaurant-hours td {
  color: #333;
}

#restaurant-name {
  margin: 30px 0;
  color: #aa2e00;
  font-family: Arial, sans-serif;
  font-size: 2em;
  font-weight: 200;
  letter-spacing: 0;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-img {
  max-width: 500px;
  width: 90%;
}

#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}

#restaurant-cuisine {
  max-width: 500px;
  width: 90%;
  margin: 0 0 20px;
  padding: 2px 0;
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  text-align: center;
  text-transform: uppercase;
}

/*  Reviews Container */

#reviews-container {
  width: calc(80% - 20px);
  margin: 0 auto 0;
  padding: 30px 40px 80px;
}

#reviews-container h3 {
  padding-bottom: 1pt;
  color: #aa2e00;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  display: block;
  position: relative;
  max-width: 500px;
  width: 100%;
  margin: 0 0 30px;
  border: 2px solid #f3f3f3;
  background-color: #fff;
  list-style-type: none;
}

#reviews-list li div:nth-of-type(1) {
  width: 100%;
  border-radius: 25px 0 0 0;
  background-color: #333;
}

#reviews-list li div:nth-of-type(1) p {
  width: calc((80%-20px)/2);
  margin-left: 20px;
}

#reviews-list li div:nth-of-type(1) p:nth-of-type(1) {
  display: inline-block;
  text-align: left;
  font-size: 1.5em;
  color: #fff;
}

#reviews-list li div:nth-of-type(1) p:nth-of-type(2) {
  display: inline-block;
  text-align: right;
  color: rgba(255, 255, 255, 0.9);
  font-size: 1em;
}

#reviews-list .div-content {
  padding: 5px 20px 20px 20px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.12);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

#reviews-list li .div-content>p:nth-of-type(1) {
  width: 80px;
  padding: 3px 5px;
  border-radius: 2px;
  background-color: #aa2e00;
  color: #fff;
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
}

#reviews-list .div-content>p:nth-of-type(2) {
  color: #333;
  font-size: 1.2em;
}

/*
  Media
========================================================================== */

@media screen and (min-width: 409px) {
  nav h1 {
    padding: 1em 0;
  }
}

@media screen and (min-width: 580px) and (max-width: 700px),
(min-width: 1280px) {
  #restaurants-list li h2 {
    min-height: 48px;
  }
  #restaurants-list li p:last-of-type {
    min-height: 44px;
  }
}

@media screen and (min-width: 700px) {
  .inside #map-container,
  #map-container {
    position: fixed;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: 50%;
    height: 100%;
    right: 0;
  }
  .inside #map,
  #map {
    height: 100%;
  }
  #content {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: 50%;
  }
  #restaurant-container {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    width: 45%;
    margin: 130px 0 0 0;
    padding: 0 40px 0;
  }
  #reviews-container {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    width: 50%;
    margin: 0;
  }
  #reviews-list li {
    width: 80%;
  }
  .filter-options {
    margin-top: 80px;
  }
}