header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

#maincontent {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100%;
  background-color: $background;
}

nav {
  width: 100%;
  height: 80px;
  background-color: $black;
  text-align: center;
  h1 {
    margin: auto;
    padding: 0.5em;
    font-size: 1.6em;
    a {
      color: $white;
      font-size: 1em;
      font-weight: 200;
      letter-spacing: 7px;
      text-transform: uppercase;
    }
  }
}

#breadcrumb {
  margin: 0;
  padding: 10px 40px 16px;
  list-style: none;
  background-color: #eee; // Display list items side by side
  li {
    display: inline;
    font-size: 1.4em; // Add a slash symbol (/) before/behind each list item
    &+li:before {
      padding: 8px;
      color: black;
      content: "/\00a0";
    }
    a {
      color: #aa2e00;
      text-decoration: none; // Add a color on mouse-over
      &:hover {
        color: #01447e;
        text-decoration: underline;
      }
    }
  }
}

#footer {
  position: relative;
  z-index: 1;
  width: 100%;
  bottom: 0;
  padding: 25px 0;
  background-color: $grey;
  color: $white;
  font-size: 8pt;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  a {
    color: $red--light;
  }
}

/* Map */

.inside #map-container,
#map-container {
  width: 100%;
}

#map {
  z-index: 1;
  height: 300px;
  margin-top: 80px;
  background-color: $grey--light;
}

.inside #map {
  margin-top: 130px;
  background-color: $grey--light;
}

.leaflet-control-attribution {
  display: none;
}

.leaflet-control-zoom-out {
  display: block;
}

#modal {
  display: none;
  position: fixed;
  z-index: 10012;
  bottom: 0;
  right: 0;
  max-height: calc(100% - 48px);
  max-width: calc(100% - 48px);
  margin: 24px;
  padding: 12px;
  border-radius: 2px;
  box-shadow: 0 17px 17px rgba(0, 0, 0, .15), 0 27px 55px rgba(0, 0, 0, .3);
  background: #fff;
  overflow: auto;
}