a {
  color: $red;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $blue;
    text-decoration: none;
    outline: 1px solid $blue;
  }
}

li>a:hover img {
  opacity: .4;
}

li>a:focus img {
  opacity: .4;
  outline: 2px solid $blue;
}

.btn {
  margin: 15px 15px 15px 0px;
  padding: 12px;
  border: 1px solid #aa2e00;
  background-color: #aa2e00;
  color: #fff;
  font-size: 10pt;
  text-align: center;
  text-transform: uppercase;
}

.btn--fav {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 0;
  margin: 0 0 20px 20px;
  background-color: $black;
  color: $white;
  font-size: 30px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.16),0px 2px 5px 0px rgba(0, 0, 0, 0.26);
  transition: all 0.5s ease;

   &:focus {
    outline: none;
    box-shadow: 0px 0px 28px -5px rgba(0,0,0,0.9);
  }

  &:hover{
   box-shadow: 0px 0px 28px -5px rgba(0,0,0,0.9);
  }

  &.true {
    background-color: $red;
  }
}

.btn--fav-single {
  margin: 40px 40px 20px 20px;
}