a {
  color: $red;
  text-decoration: none;
  &:hover,
  &:focus {
    color: $blue;
    text-decoration: none;
    outline: 1px solid $blue;
  }
}

li>a:hover img {
  opacity: .4;
}

li>a:focus img {
  opacity: .4;
  outline: 2px solid $blue;
}