@media screen and (min-width: 700px) {
  .inside #map-container,
  #map-container {
    position: fixed;
    order: 1;
    width: 50%;
    height: 100%;
    right: 0;
  }
  .inside #map,
  #map {
    height: 100%;
  }
  #content {
    order: 1;
    width: 50%;
  }
  #restaurant-container {
    order: 0;
    width: 45%;
    margin: 130px 0 0 0;
    padding: 0 40px 0;
  }
  #reviews-container {
    order: 2;
    width: 50%;
    margin: 0;
  }
  #reviews-list li {
    width: 80%;
  }
  .filter-options {
    margin-top: 80px;
  }
  #restaurants-list li {
    margin: 15px;
  }
}